h1 {
    color:lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2 {
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    width: 100%;
    display: block;
}

.recuadro {
    width: 900px;
    height: 70px;
    background-color: lightgray;
    margin: 20px auto; /* centra horizontalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    text-decoration: none;
}

body {
    align-items:center; 
    background-image: url('espacio.JPG');
    background-size: cover;
}

