h1{
    color:black;
    font-family:'gill sans', 'gill sans MT',Calibri, 'trebuchet MS', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
}

p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
    font-size: 12px;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }